.task__box {
    border-radius: 8px;
    background-color: bisque;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    width: 85%;
    min-height: 48px;
    
    text-align: left;
    font-size: 10px;

    margin: 6px 0;
    padding: 10px;
}